/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-nav{
  font-size: 16px;
}

.jumbotron {
    background-color:#58595b;
}

.jumbotron h1, .jumbotron p {
  color: #fff;
}

.btn {
  font-size: 16px;
  padding: 10px 20px
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

/* Forms */
/* buttons */
.btn-primary {
    color: #fff;
    background-color: #cc9900;
    border-color: #58595b;
}

.btn-primary:hover {
  background-color: #d8b23f;
  border-color: #000;
  
}


/* Contact form */
form label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  padding: 5px 0;
}
 
form input, form textarea, form select {
  font-size:16px;
  background-color:#58595b;
  color: #fff;
}

form input, textarea {
  width: 50%;
}

form textarea {
  height:200px;
}

form #submit {
   background-color: #cc9900;
   border-color: #58595b;
  padding: 10px 20px
}

form #submit:hover {
  background-color: #d8b23f;
  border-color: #000;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer p {
  float: right;
  margin-right: 25px;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

footer .company {
  float: left;
  margin-left: 25px;
}

footer .footer-nav {
  float: right;
  margin-right: 25px;
  list-style: none;
}
