
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to DankScheduler.</h1>

  <p>Build your class schedule</p>
  <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Add academic history &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-4">
      <h2>Summer 2016 Calendar</h2>
      <p>Important Dates here -- calendar?</p>
      <p><a class="btn btn-default" href="http://getbootstrap.com/">View Summer Deadlines on My.UCF.edu &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Popular Classes</h2>
      <p>English 1000, Algebra, Biology, Speech open seats shown here?</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">some sort of relevant link &raquo;</a></p>
   </div>
    <div class="col-lg-4">
      <h2>Other Deadlines</h2>
      <p>Maybe we also have common forms likeeee Financial Aid, Parking, Vaccines, and Housing</p>
      <p><a href="http://wtforms.simplecodes.com/" class="btn btn-default" href="#">Official website &raquo;</a></p>
    </div>
  </div><!-- /.row -->
</div>
{% endblock %}

