
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome to DankScheduler.</h1>

  <p>Build your class schedule</p>
  <p><a href="https://github.com/sloria/cookiecutter-flask" class="btn btn-primary btn-large">Add academic history &raquo;</a></p>
</div><!-- /.jumbotron -->

<div class="body-content">
  <div class="row">
    <div class="col-lg-6">
      <h2>Summer 2016 Deadlines</h2>
      <p><ul class="nav nav-tabs nav-justified">
        <li class="active"><a data-toggle="tab" href="#sua">Session A</a></li>
        <li><a data-toggle="tab" href="#sub">Session B</a></li>
        <li><a data-toggle="tab" href="#suc">Session C</a></li>
        <li><a data-toggle="tab" href="#sud">Session D</a></li>
        </ul></p>
        
        <div class="tab-content">
          <div id="sua" class="tab-pane fade in active">
            <ul>Registration
            <li>Opens: Monday, March 14, 2016</li>
            <li>Closes: Friday, May 13, 2016</li>
            <li>Late Period Opens: Monday, May 16, 2016</li>
            <li>Late Period Closes: Friday, May 20, 2016</li>
            <li>Classes Begin: Monday, May 16, 2016</li>
            <li>Classes End: Friday, June 24, 2016</li>
            </ul>
          </div>
          <div id="sub" class="tab-pane fade">
            <ul>Registration
              <li>Opens: Monday, March 14, 2016</li>
              <li>Closes: Sunday, June 26, 2016</li>
              <li>Late Period Opens: Monday, June 27, 2016</li>
              <li>Late Period Closes: Friday, July 1, 2016</li>
              <li>Classes Begin: Monday, June 27, 2016</li>
              <li>Classes End: Friday, August 5, 2016</li>
            </ul>
          </div>
          <div id="suc" class="tab-pane fade">
            <ul>Registration
              <li>Opens: Monday, March 14, 2016</li>
            <li>Closes: Friday, May 13, 2016</li>
            <li>Late Period Opens: Monday, May 16, 2016</li>
            <li>Late Period Closes: Friday, May 20, 2016</li>
            <li>Classes Begin: Monday, May 16, 2016</li>
            <li>Classes End: Friday, August 5, 2016</li>
            </ul>
          </div>
          <div id="sud" class="tab-pane fade">
            <ul>Registration
              <li>Opens: Monday, March 14, 2016</li>
              <li>Closes: Friday, May 13, 2016</li>
              <li>Late Period Opens: Monday, May 16, 2016</li>
              <li>Late Period Closes: Friday, May 20, 2016</li>
              <li>Classes Begin: Monday, May 16, 2016</li>
              <li>Classes End: Friday, July 15, 2016</li>
            </ul>
          </div>
      </div>
      <p><a class="btn btn-default" href="http://calendar.ucf.edu/2016/summer">View Summer Deadlines on My.UCF.edu &raquo;</a></p>
    </div>
    <div class="col-lg-6">
      <h2>Popular Classes</h2>
      <p>English 1000, Algebra, Biology, Speech open seats shown here?</p>
      <p><a href="http://www.sqlalchemy.org/" class="btn btn-default" href="#">some sort of relevant link &raquo;</a></p>
   </div>
    
  </div><!-- /.row -->
</div>
{% endblock %}

